#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
	overflow:auto;
    
    /* Specify the width of your pageslide here */
    width: 240px;
    
    /* These styles are optional, and describe how the pageslide will look */
    background-color: #ffffff;
    color: #FFF;
	z-index:2;
}